<form [formGroup]="signInForm" (ngSubmit)="onSubmit(signInForm.value)">
    <div class="form-group form-inline">
        <label for="name">Name/Organisation</label>
        <input type="text" class="form-control" id="name" placeholder="Name/Organisation" formControlName="name">
    </div>
    <div class="form-group form-inline">
        <label for="name">Name/Organisation</label>
        <input type="text" class="form-control" id="name" placeholder="Name/Organisation">
    </div>

    <button class="button" type="submit">Submit</button>
</form>